header {
  background: $black;
  color: $gray;
  h1 {
    font-weight: 200;
    font-size: 3em;
    margin: 0;
  }
  .fac {
    color: $red;
  }
  .tor {
    color: $teal;
  }
  .azzle {
    color: $white;
  }
  p {
    margin: 0;
  }
}