header {
  background: $black;
  color: $gray;
  h1 {
    font-weight: 200;
    font-size: 2.25rem;
    word-spacing: -0.33rem;
    margin: 0;
  }
  span {
    font-size: 3rem;
  }
  .logo-fac,
  .logo-zaz {
    color: $red;
  }
  .logo-tor,
  .logo-zle {
    color: $teal;
  }
  .logo-i {
    color: $white;
  }
  p {
    margin: 0;
  }
}