.section-input {
    $border-width: 0.05em;
    background-color: $white;
    padding: 2em 0;
    .control-group {
        margin-bottom: 1.5em;
    }
    label {
        color: $gray;
        font-weight: bold;
        display: block;
        margin: 0.5em 0;
    }
    input {
      font-size: 2em;
      font-weight: 100;
      @include placeholder {
        font-weight: 100;
      }
      width: 50%;
      padding: 0.25em 0;
      display: block;
      color: $red;
      margin: 0;
      border: 0;
      border-bottom: $border-width solid $gray-light;
    }
    input:focus,
    input:hover,
    select:focus,
    select:hover {
        border-bottom: $border-width solid $black;
        outline: 0;
    }
    input:focus + label {
        color: red;
    }
    select {
        border-radius: 0;
        border: $border-width solid $gray-light;
        &:hover,
        &:focus {
            border: $border-width solid $black;
        }
    }
    .control-group.checkbox-group {
        label, input {
            display: inline-block;
            width: auto;
        }
    }
    fieldset {
        margin: 2em 0;
        border: none;
        padding: 0;
    }
    .button-group {
        margin: 0.5rem 0;
    }
}
.login-form {
    .btn {
        font-size: 2rem;
        margin: 0.5em 0;
    }
}
.inline-form {
    display: inline-block;
}